.section-calculator {
  width: 100%;
  padding: 3.2rem 0;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.calculator {
  width: 34%;
  margin: 0 auto;
}

.input {
  background-color: #858693;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1rem 0 0;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 2rem;
  height: 6.5rem;
}

.calculator-functions {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5px;
  background-color: #bdbdbd;
  padding: 3px;
}
