html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-size: 2rem;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.section-calculator {
  width: 100%;
  padding: 3.2rem 0;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.calculator {
  width: 50%;
  margin: 0 auto;
}

.input,
.btn {
  height: 6rem;
}

.input {
  background-color: #858693;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1rem 0 0;
  color: #fff;
}

.btn {
  background-color: #e0e0e0;
  border: 0.05rem solid #bebebe;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn:nth-child(4n),
.btn:nth-child(19) {
  background-color: #f5913e;
}

.calculator-functions {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.btn:nth-child(17) {
  grid-column: span 2;
}
